body {
  background-color: #faf8f1;
  color: #0a1520;
}

.gridLayout {
  display: flex;
  flex-flow: wrap;
  max-width: 500px;
  margin: auto;
  border: solid 2px #383838;
}

.pixel {
  border: solid 0.1px #383838
}
